---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Accueil</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
		<h1>Blog</h1>
        <h1>Ici il y a tous les articles</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet semper est, id luctus sem blandit ac. In auctor ligula ante, ut iaculis augue scelerisque in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum quis varius est, quis molestie dolor. In ultricies aliquet fermentum. Phasellus sed turpis eget mi pharetra condimentum eget et sem. Maecenas dapibus orci nec dignissim congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non porta urna, id porta mi.</p>

            <p>Integer lacinia lorem imperdiet lorem suscipit molestie. Ut magna metus, fermentum quis sem id, facilisis interdum tellus. Etiam quis scelerisque lectus, sed egestas ante. Morbi ultrices vestibulum neque. Nam vel condimentum arcu, sit amet pharetra nisi. Quisque dignissim lorem non orci rutrum sagittis. Etiam egestas risus sed dui hendrerit, ac consequat sapien feugiat. Proin tempor, massa eget mollis egestas, justo dui accumsan dolor, vitae aliquam metus diam et ligula. Donec sed felis faucibus, tincidunt nibh sed, faucibus risus. Nam accumsan odio eu felis bibendum, vel placerat ipsum convallis. Etiam imperdiet nibh vitae tortor tincidunt, posuere dictum tellus semper.</p>
	</body>
</html>
